body{
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}
.fit{
    font-size: 70px;
    margin-top: 100px;
    margin-bottom: -20px;
}


.name{
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    width: 280px;
    border-color: #1c9ad5;
}
.email{
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    width: 285px;
    border-color: #1c9ad5;
}
.pass{
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    width: 255px;
    border-color: #1c9ad5;
}
.pass1{
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    width: 230px;
    border-color: #1c9ad5;
}
.dob{
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    width: 295px;
    border-color: #1c9ad5;
    background-color: white;
}
.gender{
    margin-left: auto;
    margin-right: 55px;
    font-size: 18px;
    border-color: #1c9ad5;

}
.height{
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    width: 240px;
    border-color: #1c9ad5;
}
.weight{
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    width: 240px;
    border-color: #1c9ad5;
}
.goal{
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    width: 290px;
    border-color: #89cff0;
}
.manwomen{
    margin-left: 30px;
    margin-right: auto;
    font-size: 18px;
}
.button{
    width: 100px;
    height: 25px;
    font-size: 15px;
    margin: auto;
    font-family: 'Varela Round', sans-serif;

}
.button1{
    width: 100px;
    height: 25px;
    font-size: 15px;
    margin-left: -240px;
    font-family: 'Varela Round', sans-serif;

}
.profile{
    font-size: 13px;
    margin-bottom: 10px;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}
.calories{
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    width: 210px;
    border-color: #1c9ad5;

}