body {
    margin: 0 0 55px 0;
}

#topNav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
}

#bottomNav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    border-radius: 3%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #89cff0;
    display: flex;
    overflow-x: auto;
}
#options{
    margin-left: 9%;
}

#appHeader{
    margin-top: 5%;
    font-family: 'Varela Round', sans-serif;
    color: #1c9ad5;

}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.headNav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
    background-color: #ddf1fb;
}

.nav__link--active {
    color: #ddf1fb;
}

.nav__icon {
    font-size: 18px;
    color: white;
}
.topIcons{
    color: black;
}
.nav__text{
    color: white;
    font-family: 'Varela Round', sans-serif;
}



/* Alarms */
.alarms{
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
    position: absolute;  left:30%; top:20%;
    height: 5%;
    border-radius: 50%;
    text-align: center;
    padding: 40px 50px;
    background: #89cff0;
}
.alarms:hover{
    background-color: #ddf1fb;
}
.ViewAlarms{
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    position: absolute; left:30%; top:45%;
    height: 5%;
    border-radius: 50%;
    text-align: center;
    padding:40px 50px;
    background: #89cff0;
}
.ViewAlarms:hover{
    background-color: #ddf1fb;
}
.divv{
display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;"
}
.inputt{
    outline: none;
    border: 2px solid gray;
}